{{#if success_msg}}
    <div class="alert alert-success" role="alert">{{success_msg}}</div>
{{/if}}
{{!-- success_msg está sendo buscado de app.js--}}

{{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}
{{!-- error_msg está sendo buscado de app.js--}}


{{!-- Com handlebars, pode-se criar condiçoes para que seja impressa na pagina, como no exemplo acima com o if --}}

