
<div class="card">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>
        <hr>
        <small>Data de publicaçaão: {{postagens.data}}</small> 
        <hr>
        {{postagens.conteudo}}
    </div>
</div>